<apex:page standardController="Contact" sidebar="false" recordSetVar="contacts">
    <h1>
        Create Contact
    </h1>
    <apex:pageBlock >
    <apex:form >
        <apex:pageBlockSection >
        <apex:inputField value="{! Contact.FirstName}"/>
            <apex:inputField value="{! Contact.LastName}"/>
            <apex:inputField value="{! Contact.Email }"/>
        </apex:pageBlockSection>
        <div align="center">
            <apex:commandButton action="{! save}" value="save"/>
        </div>
        </apex:form>
    </apex:pageBlock>
    <apex:form >
    <apex:pageBlock title="Related Cases" id="Cases_list" >
        Filter:
        <apex:selectList value="{! filterId }" size="1">
            <apex:selectOptions value="{! listViewOptions }"/>
        <apex:actionSupport event="onchange" reRender="Cases_list"/>
        </apex:selectList>
    <apex:pageBlockTable value="{! Contact.Cases }" var="case">
      <apex:column >  <apex:outputLink value="{! URLFOR($Action.Case.Edit,case.Id)}">Edit</apex:outputLink>
        &nbsp;
        <apex:outputLink value="{! URLFOR($Action.Case.Delete,case.Id)}">Del</apex:outputLink>
        </apex:column>
        <apex:column value="{! case.Subject }"/>
        <apex:column value="{! case.Status}"/>
        <apex:column value="{! case.Priority }"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
        </apex:form>
    
</apex:page>