<apex:page >
  <!-- Begin Default Content REMOVE THIS -->
 <h1>Help for the Candidate Object</h1>

    <p>The Candidate object is for identifying and tracking individual candidates for job positions.</p>
    <p>Sort candidates by Name, Location, Last Modified, and Prospect Rating.</p>

    
  <!-- End Default Content REMOVE THIS -->
</apex:page>