<apex:page standardController="Student__c" extensions="ClassStudentController" sidebar="false" showheader="false" standardStylesheets="false">
<head>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/soap/ajax/11.0/connection.js"></script>
<script src="/soap/ajax/11.0/apex.js"></script>
  <script type="text/javascript">
 function init() {  }
  function updateName()
  {
  sforce.connection.sessionId = '{!$Api.Session_ID}';
  var name = document.getElementById("last").value;
  var queryResult= null; 
 var newStudent = new sforce.SObject("Student__c"); 
 newStudent.Id = "{!sobjId}";
	newStudent.Last_Name__c = name; 
	result = sforce.connection.upsert("Id", [newStudent]);
 window.parent.location = "/{!sobjId}";
  }
 </script>
</head>
<body>
<div class="container" >
<form action="">
<div class="form-group">
      <label for="last">Name:</label>
      <input type="text" class="form-control" id="last" placeholder="Enter New Name"/>
    </div><br/>
    <button type="submit" class="btn btn-default" onClick="updateName();">Update</button>
</form>
</div>
</body>
</apex:page>